<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
      
        <title>Violet Store - Sarimbit Azzura</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
      
        <!-- Favicons -->
        <link href="assets/img/violet_logo.png" rel="violet_logo">
      
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
      
        <!-- Vendor CSS Files -->
        <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
        <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
        <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
      
        <!--  Main CSS File -->
        <link href="assets/css/style.css" rel="stylesheet">
      
      </head>
<body>
    

    <div class="container">
        <div class="row" style="min-height: 100vh;">
            <div class="col align-self-center">
            <div class="card">
                <form>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Email address</label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Example select</label>
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect2">Example multiple select</label>
                      <select multiple class="form-control" id="exampleFormControlSelect2">
                        <option><%= db_setting.img_slide.img_satu %></option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Example textarea</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
<!-- untuk Upload -->
<div class="container">

<h4> Gambar Slide </h4>
  <!-- batsan card -->
<div class="card">
  <h1>Slide Satu</h1>
  <div class="card-body">
<form method="post" action="/upload_img_slide_satu" enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleFormControlFile1">Slide Satu</label>
    <input type="file" name="upload-file" class="form-control-file" id="exampleFormControlFile1">
  </div>
  <input type="submit" value="Upload" />
</form>
<form method="post" action="/edit_img_satu">
  <h6>judul</h6>
  <input name="judul_slide_satu" class="form-control" type="text" placeholder="Default input" required>
  <h6>Deskripsi</h6>
  <input name="deskripsi_slide_satu" class="form-control" type="text" placeholder="Default input" required>
</form>
</div>
</div>
<!-- batasnya slide -->

  <!-- batsan card -->
  <div class="card">
    <h1>Slide dua</h1>
    <div class="card-body">
  <form method="post" action="/upload_img_slide_dua">
    <div class="form-group">
      <label for="exampleFormControlFile1">Slide dua</label>
      <input type="file" name="upload-file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <input type="submit" value="Upload" />
  </form>
  <form method="post" action="/edit_img_dua">
    <h6>judul</h6>
    <input name="judul_slide_dua" class="form-control" type="text" placeholder="Default input" required>
    <h6>Deskripsi</h6>
    <input name="deskripsi_slide_dua" class="form-control" type="text" placeholder="Default input" required>
  </form>
  </div>
  </div>
  <!-- batasnya slide -->
    <!-- batsan card -->
    <div class="card">
      <h1>Slide tiga</h1>
      <div class="card-body">
    <form method="post" action="/upload_img_slide_tiga">
      <div class="form-group">
        <label for="exampleFormControlFile1">Slide tiga</label>
        <input type="file" name="upload-file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <input type="submit" value="Upload" />
    </form>
    <form method="post" action="/edit_img_tiga">
      <h6>judul</h6>
      <input name="judul_slide_tiga" class="form-control" type="text" placeholder="Default input" required>
      <h6>Deskripsi</h6>
      <input name="deskripsi_slide_tiga" class="form-control" type="text" placeholder="Default input" required>
    </form>
    </div>
    </div>
    <!-- batasnya slide -->
    <!-- batsan card -->
    <div class="card">
      <h1>Slide empat</h1>
      <div class="card-body">
    <form method="post" action="/upload_img_slide_empat">
      <div class="form-group">
        <label for="exampleFormControlFile1">Slide empat</label>
        <input type="file" name="upload-file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <input type="submit" value="Upload" />
    </form>
    <form method="post" action="/edit_img_empat">
      <h6>judul</h6>
      <input name="judul_slide_empat" class="form-control" type="text" placeholder="Default input" required>
      <h6>Deskripsi</h6>
      <input name="deskripsi_slide_empat" class="form-control" type="text" placeholder="Default input" required>
    </form>
    </div>
    </div>
    <!-- batasnya slide -->
        <!-- batsan card -->
        <div class="card">
          <h1>Slide lima</h1>
          <div class="card-body">
        <form method="post" action="/upload_img_slide_lima">
          <div class="form-group">
            <label for="exampleFormControlFile1">Slide lima</label>
            <input type="file" name="upload-file" class="form-control-file" id="exampleFormControlFile1">
          </div>
          <input type="submit" value="Upload" />
        </form>
        <form method="post" action="/edit_img_lima">
          <h6>judul</h6>
          <input name="judul_slide_lima" class="form-control" type="text" placeholder="Default input" required>
          <h6>Deskripsi</h6>
          <input name="deskripsi_slide_lima" class="form-control" type="text" placeholder="Default input" required>
        </form>
        </div>
        </div>
        <!-- batasnya slide -->
</div>


<!-- untuk kirim data card -->
<div class="container">

  <h4> Gambar Card </h4>
    <!-- batsan card -->
  <div class="card">
    <h1>card Satu</h1>
    <div class="card-body">
  <form method="post" action="/upload_img_card_satu">
    <div class="form-group">
      <label for="exampleFormControlFile1">card Satu</label>
      <input type="file" name="upload-file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <input type="submit" value="Upload" />
  </form>
  <form method="post" action="/edit_img_satu">
    <h6>judul</h6>
    <input name="judul_card_satu" class="form-control" type="text" placeholder="Default input" required>
    <h6>Deskripsi</h6>
    <input name="deskripsi_card_satu" class="form-control" type="text" placeholder="Default input" required>
  </form>
  </div>
  </div>
  <!-- batasnya card -->
  
    <!-- batsan card -->
    <div class="card">
      <h1>card dua</h1>
      <div class="card-body">
    <form method="post" action="/upload_img_card_dua">
      <div class="form-group">
        <label for="exampleFormControlFile1">card dua</label>
        <input type="file" name="upload-file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <input type="submit" value="Upload" />
    </form>
    <form method="post" action="/edit_img_dua">
      <h6>judul</h6>
      <input name="judul_card_dua" class="form-control" type="text" placeholder="Default input" required>
      <h6>Deskripsi</h6>
      <input name="deskripsi_card_dua" class="form-control" type="text" placeholder="Default input" required>
    </form>
    </div>
    </div>
    <!-- batasnya card -->
      <!-- batsan card -->
      <div class="card">
        <h1>card tiga</h1>
        <div class="card-body">
      <form method="post" action="/upload_img_card_tiga">
        <div class="form-group">
          <label for="exampleFormControlFile1">card tiga</label>
          <input type="file" name="upload-file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <input type="submit" value="Upload" />
      </form>
      <form method="post" action="/edit_img_tiga">
        <h6>judul</h6>
        <input name="judul_card_tiga" class="form-control" type="text" placeholder="Default input" required>
        <h6>Deskripsi</h6>
        <input name="deskripsi_card_tiga" class="form-control" type="text" placeholder="Default input" required>
      </form>
      </div>
      </div>
      <!-- batasnya card -->
      <!-- batsan card -->
      <div class="card">
        <h1>card empat</h1>
        <div class="card-body">
      <form method="post" action="/upload_img_card_empat">
        <div class="form-group">
          <label for="exampleFormControlFile1">card empat</label>
          <input type="file" name="upload-file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <input type="submit" value="Upload" />
      </form>
      <form method="post" action="/edit_img_empat">
        <h6>judul</h6>
        <input name="judul_card_empat" class="form-control" type="text" placeholder="Default input" required>
        <h6>Deskripsi</h6>
        <input name="deskripsi_card_empat" class="form-control" type="text" placeholder="Default input" required>
      </form>
      </div>
      </div>
      <!-- batasnya card -->
          <!-- batsan card -->
          <div class="card">
            <h1>card lima</h1>
            <div class="card-body">
          <form method="post" action="/upload_img_card_lima">
            <div class="form-group">
              <label for="exampleFormControlFile1">card lima</label>
              <input type="file" name="upload-file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <input type="submit" value="Upload" />
          </form>
          <form method="post" action="/edit_img_lima">
            <h6>judul</h6>
            <input name="judul_card_lima" class="form-control" type="text" placeholder="Default input" required>
            <h6>Deskripsi</h6>
            <input name="deskripsi_card_lima" class="form-control" type="text" placeholder="Default input" required>
          </form>
          </div>
          </div>
          <!-- batasnya card -->
              <!-- batsan card -->
  <div class="card">
    <h1>card enam</h1>
    <div class="card-body">
  <form method="post" action="/upload_img_card_enam">
    <div class="form-group">
      <label for="exampleFormControlFile1">card enam</label>
      <input type="file" name="upload-file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <input type="submit" value="Upload" />
  </form>
  <form method="post" action="/edit_img_enam">
    <h6>judul</h6>
    <input name="judul_card_enam" class="form-control" type="text" placeholder="Default input" required>
    <h6>Deskripsi</h6>
    <input name="deskripsi_card_enam" class="form-control" type="text" placeholder="Default input" required>
  </form>
  </div>
  </div>
  <!-- batasnya card -->
  
    <!-- batsan card -->
    <div class="card">
      <h1>card tuju</h1>
      <div class="card-body">
    <form method="post" action="/upload_img_card_tuju">
      <div class="form-group">
        <label for="exampleFormControlFile1">card tuju</label>
        <input type="file" name="upload-file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <input type="submit" value="Upload" />
    </form>
    <form method="post" action="/edit_img_tuju">
      <h6>judul</h6>
      <input name="judul_card_tuju" class="form-control" type="text" placeholder="Default input" required>
      <h6>Deskripsi</h6>
      <input name="deskripsi_card_tuju" class="form-control" type="text" placeholder="Default input" required>
    </form>
    </div>
    </div>
    <!-- batasnya card -->
      <!-- batsan card -->
      <div class="card">
        <h1>card delapan</h1>
        <div class="card-body">
      <form method="post" action="/upload_img_card_delapan">
        <div class="form-group">
          <label for="exampleFormControlFile1">card delapan</label>
          <input type="file" name="upload-file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <input type="submit" value="Upload" />
      </form>
      <form method="post" action="/edit_img_delapan">
        <h6>judul</h6>
        <input name="judul_card_delapan" class="form-control" type="text" placeholder="Default input" required>
        <h6>Deskripsi</h6>
        <input name="deskripsi_card_delapan" class="form-control" type="text" placeholder="Default input" required>
      </form>
      </div>
      </div>
      <!-- batasnya card -->
      <!-- batsan card -->
      <div class="card">
        <h1>card sembilan</h1>
        <div class="card-body">
      <form method="post" action="/upload_img_card_sembilan">
        <div class="form-group">
          <label for="exampleFormControlFile1">card sembilan</label>
          <input type="file" name="upload-file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <input type="submit" value="Upload" />
      </form>
      <form method="post" action="/edit_img_sembilan">
        <h6>judul</h6>
        <input name="judul_card_sembilan" class="form-control" type="text" placeholder="Default input" required>
        <h6>Deskripsi</h6>
        <input name="deskripsi_card_sembilan" class="form-control" type="text" placeholder="Default input" required>
      </form>
      </div>
      </div>
      <!-- batasnya card -->
          <!-- batsan card -->
          <div class="card">
            <h1>card sepuluh</h1>
            <div class="card-body">
          <form method="post" action="/upload_img_card_sepuluh">
            <div class="form-group">
              <label for="exampleFormControlFile1">card sepuluh</label>
              <input type="file" name="upload-file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <input type="submit" value="Upload" />
          </form>
          <form method="post" action="/edit_img_sepuluh">
            <h6>judul</h6>
            <input name="judul_card_sepuluh" class="form-control" type="text" placeholder="Default input" required>
            <h6>Deskripsi</h6>
            <input name="deskripsi_card_sepuluh" class="form-control" type="text" placeholder="Default input" required>
          </form>
          </div>
          </div>
          <!-- batasnya card -->
  <!-- batsan card -->
  <div class="card">
    <h1>card sebelas</h1>
    <div class="card-body">
  <form method="post" action="/upload_img_card_sebelas">
    <div class="form-group">
      <label for="exampleFormControlFile1">card sebelas</label>
      <input type="file" name="upload-file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <input type="submit" value="Upload" />
  </form>
  <form method="post" action="/edit_img_sebelas">
    <h6>judul</h6>
    <input name="judul_card_sebelas" class="form-control" type="text" placeholder="Default input" required>
    <h6>Deskripsi</h6>
    <input name="deskripsi_card_sebelas" class="form-control" type="text" placeholder="Default input" required>
  </form>
  </div>
  </div>
  <!-- batasnya card -->
  
    <!-- batsan card -->
    <div class="card">
      <h1>card duabelas</h1>
      <div class="card-body">
    <form method="post" action="/upload_img_card_duabelas">
      <div class="form-group">
        <label for="exampleFormControlFile1">card duabelas</label>
        <input type="file" name="upload-file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <input type="submit" value="Upload" />
    </form>
    <form method="post" action="/edit_img_duabelas">
      <h6>judul</h6>
      <input name="judul_card_duabelas" class="form-control" type="text" placeholder="Default input" required>
      <h6>Deskripsi</h6>
      <input name="deskripsi_card_duabelas" class="form-control" type="text" placeholder="Default input" required>
    </form>
    </div>
    </div>
    <!-- batasnya card -->
      <!-- batsan card -->
      <div class="card">
        <h1>card tigabelas</h1>
        <div class="card-body">
      <form method="post" action="/upload_img_card_tigabelas">
        <div class="form-group">
          <label for="exampleFormControlFile1">card tigabelas</label>
          <input type="file" name="upload-file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <input type="submit" value="Upload" />
      </form>
      <form method="post" action="/edit_img_tigabelas">
        <h6>judul</h6>
        <input name="judul_card_tigabelas" class="form-control" type="text" placeholder="Default input" required>
        <h6>Deskripsi</h6>
        <input name="deskripsi_card_tigabelas" class="form-control" type="text" placeholder="Default input" required>
      </form>
      </div>
      </div>
      <!-- batasnya card -->
      <!-- batsan card -->
      <div class="card">
        <h1>card empatbelas</h1>
        <div class="card-body">
      <form method="post" action="/upload_img_card_empatbelas">
        <div class="form-group">
          <label for="exampleFormControlFile1">card empatbelas</label>
          <input type="file" name="upload-file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <input type="submit" value="Upload" />
      </form>
      <form method="post" action="/edit_img_empatbelas">
        <h6>judul</h6>
        <input name="judul_card_empatbelas" class="form-control" type="text" placeholder="Default input" required>
        <h6>Deskripsi</h6>
        <input name="deskripsi_card_empatbelas" class="form-control" type="text" placeholder="Default input" required>
      </form>
      </div>
      </div>
      <!-- batasnya card -->
          <!-- batsan card -->
          <div class="card">
            <h1>card limabelas</h1>
            <div class="card-body">
          <form method="post" action="/upload_img_card_limabelas">
            <div class="form-group">
              <label for="exampleFormControlFile1">card limabelas</label>
              <input type="file" name="upload-file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <input type="submit" value="Upload" />
          </form>
          <form method="post" action="/edit_img_limabelas">
            <h6>judul</h6>
            <input name="judul_card_limabelas" class="form-control" type="text" placeholder="Default input" required>
            <h6>Deskripsi</h6>
            <input name="deskripsi_card_limabelas" class="form-control" type="text" placeholder="Default input" required>
          </form>
          </div>
          </div>
          <!-- batasnya card -->
              <!-- batsan card -->
  <div class="card">
    <h1>card enambelas</h1>
    <div class="card-body">
  <form method="post" action="/upload_img_card_enambelas">
    <div class="form-group">
      <label for="exampleFormControlFile1">card enambelas</label>
      <input type="file" name="upload-file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <input type="submit" value="Upload" />
  </form>
  <form method="post" action="/edit_img_enambelas">
    <h6>judul</h6>
    <input name="judul_card_enambelas" class="form-control" type="text" placeholder="Default input" required>
    <h6>Deskripsi</h6>
    <input name="deskripsi_card_enambelas" class="form-control" type="text" placeholder="Default input" required>
  </form>
  </div>
  </div>
  <!-- batasnya card -->
  
    <!-- batsan card -->
    <div class="card">
      <h1>card tujubelas</h1>
      <div class="card-body">
    <form method="post" action="/upload_img_card_tujubelas">
      <div class="form-group">
        <label for="exampleFormControlFile1">card tujubelas</label>
        <input type="file" name="upload-file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <input type="submit" value="Upload" />
    </form>
    <form method="post" action="/edit_img_tujubelas">
      <h6>judul</h6>
      <input name="judul_card_tujubelas" class="form-control" type="text" placeholder="Default input" required>
      <h6>Deskripsi</h6>
      <input name="deskripsi_card_tujubelas" class="form-control" type="text" placeholder="Default input" required>
    </form>
    </div>
    </div>
    <!-- batasnya card -->
      <!-- batsan card -->
      <div class="card">
        <h1>card delapanbelas</h1>
        <div class="card-body">
      <form method="post" action="/upload_img_card_delapanbelas">
        <div class="form-group">
          <label for="exampleFormControlFile1">card delapanbelas</label>
          <input type="file" name="upload-file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <input type="submit" value="Upload" />
      </form>
      <form method="post" action="/edit_img_delapanbelas">
        <h6>judul</h6>
        <input name="judul_card_delapanbelas" class="form-control" type="text" placeholder="Default input" required>
        <h6>Deskripsi</h6>
        <input name="deskripsi_card_delapanbelas" class="form-control" type="text" placeholder="Default input" required>
      </form>
      </div>
      </div>
      <!-- batasnya card -->
      <!-- batsan card -->
      <div class="card">
        <h1>card sembilanbelas</h1>
        <div class="card-body">
      <form method="post" action="/upload_img_card_sembilanbelas">
        <div class="form-group">
          <label for="exampleFormControlFile1">card sembilanbelas</label>
          <input type="file" name="upload-file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <input type="submit" value="Upload" />
      </form>
      <form method="post" action="/edit_img_sembilanbelas">
        <h6>judul</h6>
        <input name="judul_card_sembilanbelas" class="form-control" type="text" placeholder="Default input" required>
        <h6>Deskripsi</h6>
        <input name="deskripsi_card_sembilanbelas" class="form-control" type="text" placeholder="Default input" required>
      </form>
      </div>
      </div>
      <!-- batasnya card -->
          <!-- batsan card -->
          <div class="card">
            <h1>card duapuluh</h1>
            <div class="card-body">
          <form method="post" action="/upload_img_card_duapuluh">
            <div class="form-group">
              <label for="exampleFormControlFile1">card duapuluh</label>
              <input type="file" name="upload-file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <input type="submit" value="Upload" />
          </form>
          <form method="post" action="/edit_img_duapuluh">
            <h6>judul</h6>
            <input name="judul_card_duapuluh" class="form-control" type="text" placeholder="Default input" required>
            <h6>Deskripsi</h6>
            <input name="deskripsi_card_duapuluh" class="form-control" type="text" placeholder="Default input" required>
          </form>
          </div>
          </div>
          <!-- batasnya card -->
  </div>
<!-- untuk judul dan deskripsi -->

<div class="container">

  <h4> Judul dan Deskripsi </h4>
    <!-- batsan judul dan deskripsi -->
  <div class="card">
    <div class="card-body">
  </form>
  <form method="post" action="/edit_judul_dan_deskripsi_produk">
    <h6>judul</h6>
    <input name="judul" class="form-control" type="text" placeholder="Judul" required>
    <h6>jenis produk</h6>
    <input name="jenis_produk" class="form-control" type="text" placeholder="jenis_produk" required>
    <h6>Deskripsi</h6>
    <textarea name="deskripsi_produk" id="" cols="130" rows="10"></textarea>
    <input type="submit" value="simpan">
  </form>
  </div>
  </div>
  </div>



<form method="POST" action="/upload_img_slide_satu" enctype="multipart/form-data">
  <div>
      <label>Upload multiple profile picture</label>
      <input type="file" name="upload-file" required multiple  />
  </div>
  <div>
      <input type="submit" value="Upload" />
  </div>
</form>
  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>


</body>
</html>