<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Violet</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!--  Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><img src="img/logo_violet.png" alt=""></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(img/sarimbit_army_sekeluarga.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Sarimbit <span>Azzura Army</span></h2>
              <p class="animate__animated animate__fadeInUp">Produk Terbaru Dari Aldiva Sarimbit Azzura</p>
              <a href="#hubungi" class="btn-get-started animate__animated animate__fadeInUp scrollto"><i class="ri-whatsapp-line"></i>Hubungi Kami?</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(img/sarimbit_sage_sekeluarga.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Sarimbit Azzura Sage</h2>
              <p class="animate__animated animate__fadeInUp">Produk Terbaru Dari Aldiva Sarimbit Azzura</p>
              <a href="#hubungi" class="btn-get-started animate__animated animate__fadeInUp scrollto"><i class="ri-whatsapp-line"> </i>Hubungi Kami</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <!-- <div class="carousel-item" style="background-image: url(img/123.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
              <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div> -->

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h2>Aldiva Sarimbit Azzura</h2>
            <h3>Produk Terbaru Aldiva</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>

              Selamat datang di koleksi terbaru Sarimbit Azzura by Aldiva – di mana gaya bertemu kenyamanan dalam harmoni sempurna. Produk terbaru kami dirancang dengan perhatian penuh terhadap detail dan dibuat dengan sepenuh hati. Desain elegan menggabungkan tren modern dengan sentuhan keindahan. Temukan kombinasi sempurna antara gaya yang trendi dan kenyamananan. Sarimbit Azzura adalah jawaban atas pencarian gaya anda.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Nyaman Digunakan</li>
              <li><i class="ri-check-double-line"></i> Kualitas Terbaik</li>
              <li><i class="ri-check-double-line"></i> Style Modern</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">
        <h1>Produk Dari</h1>
        <div class="row">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-4.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-4.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="/img/logo_aldiva.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="/img/logo_violet.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-5.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-5.jpg" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section>
    <!-- End Clients Section -->


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Semua</li>
              <li data-filter=".filter-Azzura-Srimbit-Sage">Azzura Sarimbit Sage</li>
              <li data-filter=".filter-Azzura-Srimbit-Army">Azzura Sarimbit Army</li>
              <li data-filter=".filter-size-cart">Size Cart</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">


            <!-- ini untuk warna army -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-Azzura-Srimbit-Army">
            <div class="portfolio-wrap">
              <img src="img/gamis_anak_army_cewe.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Sarimbit Azzura army</h4>
                <p>Anak Perempuan </p>
                <div class="portfolio-links">
                  <a href="img/gamis_anak_army_cewe.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- ini untuk warna army -->
          <!-- ini untuk warna army -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-Azzura-Srimbit-Army">
            <div class="portfolio-wrap">
              <img src="img/gamis_anak_army_pria.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Sarimbit Azzura army</h4>
                <p>Anak Laki-laki</p>
                <div class="portfolio-links">
                  <a href="img/gamis_anak_army_pria.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- ini untuk warna army --> 
          
          <!-- ini untuk warna army -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-Azzura-Srimbit-Army">
            <div class="portfolio-wrap">
              <img src="img/gamis_dewasa_cewe_army.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Sarimbit Azzura army</h4>
                <p>Dewasa Perempuan</p>
                <div class="portfolio-links">
                  <a href="img/gamis_dewasa_cewe_army.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- ini untuk warna army -->          
          <!-- ini untuk warna army -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-Azzura-Srimbit-Army">
            <div class="portfolio-wrap">
              <img src="img/gamis_dewasa_pria_army.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Sarimbit Azzura army</h4>
                <p>Dewasa Laki-laki</p>
                <div class="portfolio-links">
                  <a href="img/gamis_dewasa_pria_army.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- ini untuk warna army -->

          <!-- ini untuk logo aldiva -->
          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="img/logo_aldiva.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Aldiva Hijab</h4>
                <p></p>
                <div class="portfolio-links">
                  <a href="img/logo_aldiva.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
<!-- batas logo aldiva -->

          <!-- ini untuk warna sage -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-Azzura-Srimbit-Sage">
            <div class="portfolio-wrap">
              <img src="img/gamis_anak_sage_cewe.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Sarimbit Azzura Sage</h4>
                <p>Anak Perempuan</p>
                <div class="portfolio-links">
                  <a href="img/gamis_anak_sage_cewe.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
<!-- batas warna sage -->
          <!-- ini untuk warna sage -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-Azzura-Srimbit-Sage">
            <div class="portfolio-wrap">
              <img src="img/gamis_anak_pria_sage.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Sarimbit Azzura Sage</h4>
                <p>Anak Laki-laki</p>
                <div class="portfolio-links">
                  <a href="img/gamis_anak_pria_sage.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
<!-- batas warna sage -->
          <!-- ini untuk warna sage -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-Azzura-Srimbit-Sage">
            <div class="portfolio-wrap">
              <img src="img/gamis_dewasa_cewe_sage.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Sarimbit Azzura Sage</h4>
                <p>Dewasa Perempuan</p>
                <div class="portfolio-links">
                  <a href="img/gamis_dewasa_cewe_sage.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
<!-- batas warna sage -->
          <!-- ini untuk warna sage -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-Azzura-Srimbit-Sage">
            <div class="portfolio-wrap">
              <img src="img/gamis_dewasa_pria_sage.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Sarimbit Azzura Sage</h4>
                <p>Dewasa Laki-Laki</p>
                <div class="portfolio-links">
                  <a href="img/gamis_dewasa_pria_sage.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
<!-- batas warna sage -->
            <!-- ini untuk warna size cart anak kecil -->
            <div class="col-lg-4 col-md-6 portfolio-item filter-size-cart">
              <div class="portfolio-wrap">
                <img src="img/size_cart_anak_laki.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Size Cart Sarimbit</h4>
                  <p>Anak Laki-Laki</p>
                  <div class="portfolio-links">
                    <a href="img/size_cart_anak_laki.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- ini untuk warna size cart anak kecil -->   
            <!-- ini untuk warna size cart anak kecil perempuan-->
            <div class="col-lg-4 col-md-6 portfolio-item filter-size-cart">
              <div class="portfolio-wrap">
                <img src="img/size_cart_anak_cewe.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Size Cart Sarimbit</h4>
                  <p>Anak Perempuan</p>
                  <div class="portfolio-links">
                    <a href="img/size_cart_anak_cewe.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- ini untuk warna size cart anak kecil perempuan -->      
            <!-- ini untuk warna size cart anak kecil perempuan-->
            <div class="col-lg-4 col-md-6 portfolio-item filter-size-cart">
              <div class="portfolio-wrap">
                <img src="img/size_cart_dewasa.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Size Cart Sarimbit</h4>
                  <p>Dewasa</p>
                  <div class="portfolio-links">
                    <a href="img/size_cart_dewasa.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- ini untuk warna size cart anak kecil perempuan -->     
        </div>

      </div>
    </section>
    
    
    <!-- End Portfolio Section -->
    <div class="container-sm">
      <div class="row justify-content-md-center">
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card">
            <div class="card-body">
              <div class="media">
                <i class="icon-frame success font-large-2"></i>
                <div class="media-body text-left">
                  <table id="tabel_gamis" class="table table shadow p-3 mb-5">
                    <h4>Koko Dewasa</h4>
                      <thead>
                        <tr>
                          <th scope="col">Size</th>
                          <th scope="col">Harga</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>XS - XL</td>
                          <td>Rp 219.900</td>
                        </tr>
                        <tr>
                          <td>XXL</td>
                          <td>Rp 229.900</td>
                        </tr>
                        <tr>
                          <td>3XL</td>
                          <td>Rp 239.900</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card">
            <div class="card-body">
              <div class="media">
                <i class="icon-note font-large-2"></i>
                <div class="media-body text-left">
                  <table id="tabel_gamis" class="table table shadow p-3 mb-5">
                    <h4>Gamis Dewasa</h4>
                      <thead>
                        <tr>
                          <th scope="col">Size</th>
                          <th scope="col">Harga</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>XS - XL</td>
                          <td>Rp 329.900</td>
                        </tr>
                        <tr>
                          <td>XXL</td>
                          <td>Rp 339.900</td>
                        </tr>
                        <tr>
                          <td>3XL</td>
                          <td>Rp 349.900</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card">
            <div class="card-body">
              <div class="media">
                <i class="icon-note font-large-2"></i>
                <div class="media-body text-left">
                  <table id="tabel_gamis" class="table table shadow p-3 mb-5">
                    <h4>Gamis Anak</h4>
                      <thead>
                        <tr>
                          <th scope="col">Size</th>
                          <th scope="col">Harga</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>0</td>
                          <td>Rp 279.900</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>Rp 289.900</td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>Rp 289.900</td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>Rp 299.900</td>
                        </tr>
                        <tr>
                          <td>8</td>
                          <td>Rp 299.900</td>
                        </tr>
                        <tr>
                          <td>10</td>
                          <td>Rp 289.900</td>
                        </tr>
                          <td>12</td>
                          <td>Rp 309.900</td>
                        </tr>
                        <tr>
                      </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card">
            <div class="card-body">
              <div class="media">
                <i class="icon-note font-large-2"></i>
                <div class="media-body text-left">
                  <table id="tabel_gamis" class="table table shadow p-3 mb-5">
                    <h4>Koko Anak</h4>
                      <thead>
                        <tr>
                          <th scope="col">Size</th>
                          <th scope="col">Harga</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>0</td>
                          <td>Rp 239.900</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>Rp 249.900</td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>Rp 249.900</td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>Rp 259.900</td>
                        </tr>
                        <tr>
                          <td>8</td>
                          <td>Rp 259.900</td>
                        </tr>
                        <tr>
                          <td>10</td>
                          <td>Rp 269.900</td>
                        </tr>
                          <td>12</td>
                          <td>Rp 269.900</td>
                        </tr>
                        <tr>
                      </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>

  <!-- iniUNTUK TABEL HARGA -->



  <!-- ini untuk kirim wa -->

  <div class="container mt-5" style="margin-bottom: 100px;">
    <div class="row d-flex justify-content-center align-items-center">
        <h2 id="hubungi">Hubungi Kami?</h2>
        <form action="/send_wa" method="get">
            <div class="row">
              <div class="col">
                <input type="text" id="wa_nama" class="form-control" placeholder="nama" name="wa_nama" required>
              </div>  
              <div class="col">
              <button type="submit" id="tombol_send_wa" class="btn btn-success mb-2"><i class="ri-whatsapp-line"></i>Hubungi Via whatsapp</button>
              </div>              
            </div>
          </form>
          </div>
          </div>
    <!-- terkhir kirim wa -->


    <div class="container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/FbV2dpB_yq4?si=6Uifbd7y5Z3JjwcN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Develop violet</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/sailor-free-bootstrap-theme/ -->
        By <a href="https://mozaachmaddani.my.id/">Moza Achmad Dani</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>


</body>

</html>